* {
    margin: 0;
    padding: 0;
  }
  
  body {
    text-align: center;
    background-color: gray;
  }
  
  div{
    margin-top: 106px;
    border: 8px solid black;
    background: white;
  }
  
  h1{
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .autor{
    font-size: 32px;
    margin-bottom: 32px;
  }
  
  p{
    font-size: 18px;
    margin-bottom: 27px;
  }
  
  .enlace{
    padding: 8px 16px 8px -16px;
  }