* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  position: fixed;
}
nav ul {
  text-align: center;
  overflow: hidden;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
}
