.container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    background: pink;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
    width: 200px;
  }
  .item {
    background: deeppink;
  }
