.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  .popup {
    font-size: 100px;
    color: #3CDBC0;
    animation-duration: 5s;
    animation-name: intro;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  
  @keyframes intro {
    from {
      transform: scale(10) rotate(-150deg);
      opacity: 0;
      color: white;
    }
  
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  