nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    border-right: 20px;
    border-left: 20px;
}

nav ul li{
  padding: 2px;
  text-decoration: none;
}

nav ul li a{
    padding: 4px;
}